
htdocs/include/db_connect.php
htdocs/include/mail_credentials.php
htdocs/include/pepper.php

wss/node_modules/


*.pem
*credentials.json
*.code-workspace
wss/credentials_online.json
wss/server_location.json
